requests
py7zr==1.0.0
bcrypt
python-dotenv==1.1.1
cryptography==45.0.7
jwcrypto>=1.5
pyyaml>=6.0

#DJANGO LIBS
django-cors-headers
djangorestframework>=3.12.4
Django==5.2.3
dj-static>=0.0.6
django-fullurl
django-filter
django-crontab
djangorestframework-simplejwt
django-recaptcha
